!/.local
/.local/*
!/.local/straight
/.local/straight/*
!/.local/straight/versions

/README.pdf

/eln-cache
/test.el
/parinfer-rust
/test
/tree-sitter
/openai-api-key.txt
/elpa
/transient

/places
/history

*.elc
*.eld
