/init/my-private-configs.el

!/.local
/.local/*
!/.local/straight
/.local/straight/*
!/.local/straight/versions

/README.pdf

/elpa
/eln-cache
/transient
/auto-save-list
/tree-sitter
/projects
/recentf
/bookmarks

/places
/history
/tramp

*.elc
*.eld
