/init/my-private-configs.el
/.lsp-session-*
/.mc-lists.el

!/.local
/.local/*
!/.local/straight
/.local/straight/*
!/.local/straight/versions

/README.pdf

/elpa
/eln-cache
/transient
/auto-save-list
/tree-sitter
/projects
/recentf
/bookmarks
/url
/eshell
/multisession
/request
/twind

# ekg
/triples.db
/ekg.db

*~

/places
/history
/tramp

*.elc
*.eld
!/elpaca-package-lock.eld
.aider*
.env
